@model WSite_ShowRoom_CtyThoiTrang.Models.Seller
@{
    ViewBag.Title = "Hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSeller.cshtml";
}



@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/seller/index" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Hệ thống bán hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách @ViewBag.Title</h3>
        </div>
        <div class="card-body">

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="yourComboBoxId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Chọn một lựa chọn
                </button>
                <div class="dropdown-menu " aria-labelledby="yourComboBoxId">
                    @foreach (var option in Model.Options)
                    {
                        <a class="dropdown-item" href="#" data-value="@option.Value">@option.Text</a>
                    }
                </div>
            </div>

            <div class="pt-2">
                 <div id="resultDiv"></div>
            </div>
           
        

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <p>Hệ thống bán hàng</p>
        </div>
        <!-- /.card-footer-->
    </div>




</section>


@section scripts{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script>
        $(document).ready(function () {
              $('.dropdown-item').click(function () {
                  var selectedValue = $(this).data('value');

                  $('#yourComboBoxId').html($(this).text());
                  if (selectedValue == "TatCaHoaDon") {
                      $.ajax({
                          url: '@Url.Action("Partial_GetBill", "Seller")',
                          type: 'GET',
                          data: { search: selectedValue },
                          success: function (result) {
                              $('#resultDiv').html(result);
                          }
                      });
                  }
                  else if (selectedValue == "HoaDonHomNay") {
                         $.ajax({
                             url: '@Url.Action("Partial_GetBillToDay", "Seller")',
                             type: 'GET',
                             data: { search: selectedValue },
                             success: function (result) {
                                 $('#resultDiv').html(result);
                             }
                         });
                  }
                  else if (selectedValue == "KiemTraHoaDon") {
                    $.ajax({
                        url: '@Url.Action("Partial_CheckBill", "Seller")',
                        type: 'GET',
                        data: { search: selectedValue },
                        success: function (result) {
                            $('#resultDiv').html(result);
                        }
                    });
                }
                  else {

                  }

              });
          });

    </script>
}
