@model WSite_ShowRoom_CtyThoiTrang.Models.tb_KhachHang

@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script>
    function validateForm() {
        var sdt = document.getElementById('SDT').value.trim();
        var tenKhachHang = document.getElementById('TenKhachHang').value.trim();
        var email = document.getElementById('Email').value.trim();
        var password = document.getElementById('Password').value.trim();
        var diaChi = document.getElementById('DiaChi').value.trim();
        var confirmPassword = document.getElementById('ConfirmPassword').value.trim();


        if (!sdt || !tenKhachHang || !email || !password || !diaChi || !confirmPassword) {

            Swal.fire({
                icon: "error",
                title: "Lỗi tìm...",
                text: "Vui lòng điền đầy đủ thông tin.",
                /*footer: '<a href="#">Why do I have this issue?</a>'*/
            });
            return false;

        }


        if (password !== confirmPassword) {

            Swal.fire({
                icon: "warning",
                title: "Lỗi tìm...",
                text: "Mật khẩu và xác nhận mật khẩu không khớp.",
                /*footer: '<a href="#">Why do I have this issue?</a>'*/
            });
            return false;
            return false;
        }



        return true;
    }


    function togglePasswordVisibility(inputId, buttonId) {
        var passwordInput = document.getElementById(inputId);
        var toggleButton = document.getElementById(buttonId);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleButton.textContent = "Ẩn mật khẩu";
        } else {
            passwordInput.type = "password";
            toggleButton.textContent = "Hiện mật khẩu";
        }
    }

</script>

<style>
    .img-register {
        border-radius: 30px;
        -webkit-border-radius: 30px;
    }
</style>

<div class="p-5 border bg-light khang" style="border-radius:30px">
    <div class="container p-4 bg-white">
        <h4 class="text-center">Đăng ký</h4>
        <hr />
        <div class="row">
            <div class="col-5">
                <img src="~/hinh/img.jpg" class="img-register" width="100%" height="450px" />
            </div>
            <div class="col">
                <div style="border:2px solid #ffffff; border-radius:30px">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { onsubmit = "return validateForm();" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <span>Số Điện Thoại *</span>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập Số Điện Thoại" } })
                                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <spanp>Họ Tên *</spanp>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenKhachHang, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập Tên Của Bạn " } })
                                    @Html.ValidationMessageFor(model => model.TenKhachHang, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <span>Địa Chỉ Email *</span>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <span> Mật Khẩu *</span>
                                <div class="col-md-10 d-flex">
                                    <input type="password" id="Password" name="Password" class="form-control" autocomplete="new-password" placeholder="Nhập Mật Khẩu" />
                                    <button type="button" class="btn btn-success" onclick="togglePasswordVisibility('Password', 'togglePasswordBtn')"><i class="far fa-eye"></i></button>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <span> Nhập lại mật khẩu * </span>
                                <div class="col-md-10 d-flex">
                                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Nhập Lại Mật Khẩu" />
                                    <button type="button" class="btn btn-success" onclick="togglePasswordVisibility('ConfirmPassword', 'toggleConfirmPasswordBtn')"><i class="far fa-eye"></i></button>
                                    @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })
                                </div>
                            </div>




                            <div class="form-group">
                                <span>Địa Chỉ *</span>

                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập Địa Chỉ Của Bạn" } })
                                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" name="submit" class="btn btn-danger rounded-5 fw-bold" style="width: 200px;" value="ĐĂNG KÝ">
                                    <p class="text-center">
                                        Bạn đã có tài khoản?<span>
                                            <a class="nav-link text-danger" href="/Account/Login">Đăng nhập ngay</a>
                                        </span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>