<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <!---SweetAlter-->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">
    @*@===============================================================@*@

    @*@CSS@*@

    <link href="~/Content/CSS/responsive.css" rel="stylesheet" />

    <link href="~/Content/CSS/Detail.css" rel="stylesheet" />

    <link href="~/Content/CSS/LogIn.css" rel="stylesheet" />

    <link href="~/Content/CSS/ERROR/errorDetail.css" rel="stylesheet" />

    <link href="~/Content/CSS/ShoppingCart/indexCart.css" rel="stylesheet" />

    <link href="~/Content/CSS/ShoppingCart/ThanhToan.css" rel="stylesheet" />

    <link href="~/Content/CSS/btr-menu.css" rel="stylesheet" />
    @*@Icon@*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <!---SweetAlter-->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">


   


    <!--<!--script_breadcrum-->
    <!--@@RenderSection("css", required: false)
    <!--<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/responsive.css">-->
    @*@Bootstrap@*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">

    @*@Web@*@
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Photo/yame-f-logo-white.png" style="border-radius:20px;height:20px;" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="~/Content/CSS/Css_LayOut.css" rel="stylesheet" />
</head>
<body class="bg-white">

    <style>
        .body-content {
            margin-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }

        #search-box {
            border-radius: 30px;
            border: 1px solid #fff;
            background: #fff;
        }

            #search-box #search-text {
                border: none;
                outline: none;
                background: none;
                padding: 0;
                font-size: 18px;
                width: 0;
                transition: all 0.25s ease-in-out;
            }

            #search-box:hover #search-text {
                width: 230px;
                padding: 9px 10px;
            }

            #search-box #search-btn {
                background-color: #fff;
                border: none;
                padding: 8px;
                cursor: pointer;
                border-radius: 50px;
                font-size: 18px;
            }
    </style>

    <div class="super_container">

        <div style="position: sticky; top: 0; z-index: 99; background-color: #fff !important;">
            <div style=" width: 0 auto; margin: 0 auto" class="dong1">
                <div class="logo d-flex">
                    <a style="color:black;text-decoration:none" href="/Home/Index"><h4> KTA <span style="color:red">MODE</span></h4></a>
                </div>
                <div id="khung">
                    <ul class="nav-main d-flex justify-content-center">
                        <li class="nav-1">
                            <a style="color:black" href="/Home/Index"><h4> Trang Chủ</h4></a>
                        </li>
                        <li class="nav-1">
                            <a style="color:black" href="/Product/index"><h4>Sản Phẩm</h4></a>
                            <ul class="nav-2">
                                @Html.Action("Partail_ProCategory", "Product");
                            </ul>
                        </li>
                        <li class="nav-1">
                            <a href="#" style="color:black"><h4>Khuyễn Mãi</h4></a>
                        </li>
                        <li class="nav-1">
                            @using (Html.BeginForm("Find", "Product", FormMethod.Post))
                            {
                                <div class="input-group form-group form-inline d-flex">

                                    @Html.TextBox("Search", "", new { @class = "form-control form-control rounded-start-pill" })
                                    <button type="submit" class="btn btn-success rounded-end-pill" style="width: 70px" value="Search">  <i style="color:white" class="fa-solid fa-magnifying-glass"></i></button>

                                </div>


                            }
                        </li>
                    </ul>
                </div>
                <div class="d-flex" style="width: 270px; height: 50px;">
                    <div>
                        @if (Session["SDT"] != null)
                        {


                            <ul style="display:flex">
                                <li class="nav-1 " style="margin:10px">
                                    <a style="color: black; text-decoration: none" href=" /account/Profile">
                                        <i class="fas fa-user">
                                            <span> @Session["TenKhachHang"]</span>
                                        </i>

                                    </a>
                                    <ul class="nav-2">
                                        <li>
                                            <a href="/User/index" style=" text-decoration: none">Đơn mua</a>
                                        </li>
                                        <li>
                                            <a href="/account/logout" style=" text-decoration: none">Đăng xuất</a>
                                        </li>
                                        <li>
                                            <a href="# " style=" text-decoration: none">Hồ Sơ</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav-1" style="margin:10px">
                                    <a href="/testCart/index">
                                        <i class="fa fa-shopping-cart" aria-hidden="true">  <span id="checkout_items_client" class="checkout_items text-red">0</span></i>
                                    </a>

                                </li>

                            </ul>
                        }
                        else
                        {

                            <a class=" text-black text-decoration-none m-1" href="/Account/Login"><i class="fas fa-user"></i>Tài Khoản</a>

                        }
                    </div>
                    <div>

                    </div>
                    <div id="thunho" class="p-2">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="container bg-white body-content p-5">
        @RenderBody()
    </div>
    <footer >
        <div class="bg-white">
            <div class="container bg-white p-1">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <h3><b>Về KTA MODE</b></h3>
                        <p>
                            Với các giải pháp công nghệ tốt nhất, Haravan là tất cả những gì bạn cần để xây dựng thương hiệu online, thành công trong bán lẻ và marketing đột phá.
                        </p>
                        <h4 class="fw-bold text-danger">
                            <i class="fas fa-phone"> 1900.000.XXX</i>
                        </h4>
                        <p class="fst-italic">
                            Từ Thứ hai đến thứ bày (7h30-21h00)
                        </p>
                        <p>
                            <i class="fas fa-envelope">  hi@luxe-mode.abc</i>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <h4> <b>ĐIỀU KHOẢN&amp;CHÍNH SÁCH</b></h4>
                        <a class="nav-link mt-2" href="/home/dieukien" style="color:black">- Điều khoản điều kiện</a>
                        <a class="nav-link mt-2" href="/home/doitra" style="color:black">- Chính sách đổi trả</a>
                        <a class="nav-link mt-2" href="/home/ThanhToan" style="color:black">- Chính sách thanh toán</a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <h4><b>HỖ TRỢ KHÁCH HÀNG</b></h4>
                        <a class="nav-link mt-2" href="#" style="color:black">- Sản phẩm khuyến mãi</a>
                        <a class="nav-link mt-2" href="#" style="color:black">- Sản phẩm nổi bật</a>
                        <a><img class="img-fluid w-50 h-auto" src="~/hinh/bocongthuong.png" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <h3><b>Kết nối với chung tôi</b></h3>
                        <div class="d-flex justify-content-center ">
                            <a class="m-2"> <i class="fab fa-facebook"></i></a>
                            <a class="m-2">  <i class="fab fa-twitter-square"></i></a>
                            <a class="m-2">   <i class="fab fa-instagram-square"></i></a>
                            <a class="m-2">  <i class="fab fa-google-plus-g"></i></a>
                            <a class="m-2">  <i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <hr />
                <br>
                <div class="text-center">
                    <h4 class="text-center  text-black">Copyright © 2023 KTA Mode Studio. Powered by Sapo</h4>
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            $('#thunho').click(function () {
                $('#khung').slideToggle();
            });
        })
    </script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Layout/JSLayout.js"></script>



    <script src="~/Content/assets/styles/bootstrap4/bootstrap.min.js"></script>

    <script src="~/Content/assets/styles/bootstrap4/popper.js"></script>

    <script src="~/Content/assets/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/assets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/assets/plugins/easing/easing.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>






    @*===============================================================*@
    <!---SweetAlter-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>


    <script src="~/Scripts/autoNumeric-1.9.45.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>



    <script src="~/Scripts/JsShop.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
